.grid-container{
    width: 80%;
    min-width: 400px;
    margin: 2rem auto;
    background-color: var(--shadow);
    color: var(--bg-main-color);
    display: grid;
    justify-items: center;
    align-content: start;
    grid-template-columns: repeat(4, minmax(min-content, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(min-content, 1fr));
    gap: .5ex;
}

.grid-items:hover{
    opacity: 70%;
    cursor: pointer;
}

.grid-items{
    height: 100%;
    width: 100%;
    padding: .25rem;
    background-color: var(--letter-main-color);
    border: thin solid var(--bg-main-color);
}

.grid-items:last-child{
    grid-area: 2 / 2 / 3 / 4; /* rowStart / columnStart
    / rowEnd / columnEnd  */
    background-color: var(--bg-main-color);
    color: var(--letter-main-color);
}

.hide-item{
    visibility: hidden;
}
